listenAddress: 0.0.0.0:7201

logging:
  level: info

metrics:
  scope:
    prefix: "coordinator"
  prometheus:
    handlerPath: /metrics
    listenAddress: 0.0.0.0:7210
  sanitization: prometheus
  samplingRate: 1.0
  extended: none

clusters:
  - namespaces:
    - namespace: default
      retention: 48h
    client:
        config:
          service:
            env: default_env
            zone: embedded
            service: m3db
            cacheDir: /var/lib/m3kv
            etcdClusters:
              - zone: embedded
                endpoints:
                  - m3db_seed:2379
      # Uncomment for proto use
      # --
      # proto:
      #   schemaFilePath: /etc/m3coordinator/schema.proto

carbon:
  ingester:
    listenAddress: "0.0.0.0:7204"

tagOptions:
  idScheme: quoted